{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="PycakeCMS is a Content Management System based on Django framework."/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PycakeCMS</title>
    
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>

  <body>
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" 
		aria-expanded="false" aria-controls="navbar">
	  </button>
	  <a class="navbar-brand" href="{% url 'pycake_main:index' %}">pycake.com</a>
        </div>

	<div id="navbar" class="navbar-collapse collapse">
	  <ul class="nav navbar-nav">
	    {% for topic in topics %}
	    <li><a href="{% url 'pycake_main:show_topic' topic.name %}">{{ topic.name }}</a></li>
	    {% endfor %}
	  </ul>
	  <ul class="nav navbar-nav navbar-right">
	    {% if user.is_authenticated %}
    	      <li><a href="{% url 'users:logout' %}"> Hello, {{ user.username }}.</a></li>
              <li><a href="{% url 'users:logout' %}">log out</a></li>
  	    {% else %}
   	      <li><a href="{% url 'users:register' %}">register</a></li>
              <li><a href="{% url 'users:login' %}">log in</a></li>
	    {% endif %} 
	  </ul>	
	</div><!--/.nav-collapse-->

      </div>
    </nav>

    <div class="container">
      <div class="page-header">
        {% block header %}{% endblock header %}
      </div>
      <div class="row">
        {% block content %}{% endblock content %}
      </div>
    </div> <!--container-->
   <footer class="container">
    <div calss="container">
    </div>
    <div class="text-center">
     © 2018 Copyright:
     <a href="https://www.pycake.com/copyright" target=blank>pycakeCMS</a>
    </div>
   </footer>
  </body>
</html>


