{% extends "pycake_main/base.html" %}

{% block header %}
  <div class='jumbotron'>
    <h1>PYCAKECMS | debugging...</h1>
  </div>
{% endblock header %}


{% block content %}
  <div class='jumbotron'>
    <p>Thank you for being interested in pycakeCMS. This site is still under development.</p>
    <p>My name is Morgan and I am the designer and coder of this site. </p>
    <p>So far I have finished the basic function of backend. It is not fancy, but functional. I can post article and manage articles.</p>
    <p>Please feel free to take a short tour to <a href="http://pycake.com/t/pycakeCMS/">my site</a>, and see what and how I have finished now.</p>
  </div>
{% endblock content %}
