{% extends 'pycake_main/base.html' %}
{% load bootstrap3 %}

{% block header %}
  <h2><a href="{% url 'pycake_main:show_topic' entry.topic %}">{{ entry.topic }}</a> > Subject</h2>
{% endblock header %}

{% block content %}
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3>
	  <a href="{% url 'pycake_main:show_entry' entry.hyphenated_title %}">{{ entry.title|title }}</a>
	  <small>
	    {% if entry.owner == request.user %}
            <a href="{% url 'pycake_main:edit_entry' entry.id %}">edit entry</a>
	    <a href="{% url 'pycake_main:delete_entry' entry.id %}">delete entry</a>
            {% endif %}
	  </small>
	  <small class="pull-right">
	    {{ entry.date_added|date:'H:i M d, Y' }}
	  </small>
	</h3>
      </div>
      <div class="panel-body">
	{{ entry.text|safe|escape }}
      </div>
    </div> <!--panel-->
  </div> <!-- col-sm -->
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3>Right column</h3>
      </div>
      <div class="panel-body">
        <p>This is a test panel. Created for future use.</p>
      </div>
    </div>
  </div> <!-- col-sm -->
{% endblock content %}
